{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center">Django Aplication</h1>
        <P class="display-4 text-center">!Bienvenido a mi aplicacion!</P>
    </section>
    <section class="card card-body">
    
    <div class="text-center">
        <a class="btn btn-dark" href="/signin/">
            Iniciar Sesion
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrate
        </a>
    </div>
    </section>
</main>
{% endblock %}